*{
    text-align: center;
}

.all{
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 70px;
    font-family: cursive;
}

#about{
    background-color: whitesmoke;
    
}
#about p{
    color:crimson;
    font-size: 20px;
    font-family: cursive;
}
#contact, #sendMessageButton{
    margin-bottom: 40px;
}
.img{
    position: relative;
    border-radius: 50%;
    align-items: center;
    margin: 0;
}


.footer .footer-social {
    position: relative;
    
}
.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: blue;
}

.footer .copyright p a:hover {
    color: purple;
}